.App {
  text-align: center;
}

.App-header {
  background-color: #1699e9;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: space-between; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Box {
  flex: 1;
  background-color: #162fe9;
  margin: 5px;
  border-radius: 25px;
}

.Items-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  grid-auto-rows: 120px;
  padding: 2%;
}

.Half-section {
  display: flex;
  flex: 1;
  flex-direction: column;
}
